#search .top{  width: 100%;  height: 0.52rem; background-color: #f3f3dd; position: fixed; top: 0; max-width: 1024px; z-index: 1;}
#search .top_search_div{  height: 0.52rem;padding: 0.08rem 0.55rem 0.08rem 0.60rem;font-size: 0; }
#search .top_search{ width: 100%;height: 0.34rem;border: 0.01rem solid #aeaeae;-webkit-appearance: none; font-size: 0.12rem; padding-left: 0.07rem;}
#search input[type="search"]::-webkit-search-cancel-button{
  display: none;  /*鍘绘帀鈥渪鈥�*/
}
#search .top_logo{ width: 0.48rem;height: 0.26rem;position: absolute;top:0.13rem; left: 0.10rem;}
#search .top_cancel{ font-size:0.13rem;position: absolute;top:0.18rem; right: 0.15rem;}
#search #top_search_cancle{ position: absolute;  top: 0.17rem;  right: 0.6rem;  width: 0.16rem; }

#search .content{  padding: 0.52rem 0 0 0;  }
#search .content_title{ font-size: 0.13rem; margin: 0; padding: 0.15rem 0.10rem; border-bottom: 0.01rem solid #d9d9d9;}
#search .content_list{ margin-bottom: 1.25rem;  }
#search .content_list ul{  list-style:none;  margin:0;  padding: 0 0.10rem;  }
#search .content_list li{  border-bottom: 0.01rem solid #d9d9d9; padding: 0.15rem 0; font-size: 0.14rem;line-height:200%; font-weight: bold;}

#search .tips_nohelp{ position: fixed; bottom: 0.45rem;width: 100%;left: 50%; transform: translateX(-50%); height: 0.8rem;background-color: #fff;max-width: 1024px; }
#search .tips_nohelp .tips{ margin-top: 0.17rem; }
#search .tips_toask{ position: fixed; width: 100%;left: 50%; transform: translateX(-50%); }
#search .tips{ width: 1.80rem; height: 0.45rem; border-radius: 50px; background-color: #292929; font-weight:bold;font-size:0.13rem;text-align: center; margin: 0 auto; }
#search .tips span{ height: 0.45rem;line-height:0.45rem;color: #fff; }
#search .tips_text{font-size:0.16rem;text-align: center;margin-bottom: 0.21rem;}

.modal{ /*display: none;*/ width: 100%;  height: 100%;  position: fixed;  left: 0;  top: 0;  z-index: 1000;  background-color: rgba(0,0,0,0.5);}
.modal-content{ width:3.5rem; height:3.5rem; text-align: center; background-color: #fff;margin:0.9rem auto; }
.modal-content .close { position:relative; left:3.2rem; top:-3.42rem; font-size: 0.25rem;color:#939393;background-color:#f5f5f5; width:0.2rem;height:0.2rem; padding:0.03rem 0.05rem;  }
.modal-content .close-square {
  /*position: relative;  left: 3.15rem;  top: -.68rem;  width: 0;  height: 0;  padding: 0.03rem 0.05rem;*/
  height: 0;
}
.modal-content .close-square img{   width: 0.3rem; float:right;  }
.modal-header { padding-top: 0.3rem;font-size: 0.13rem;width: 100%; }
.modal-body-question{ height:2.35rem; }
#search-modal-body-question-tip{ position: relative; top:-1.6rem; }
.modal-body-question span{ font-size: 0.15rem; display:block; color: #d4d4d4; }
.modal-body-question textarea{ font-size: 0.18rem;  text-align: center;  padding: 0.1rem; resize:none;width: 3.1rem; height: 1.85rem;margin-top:0.2rem;/*margin: 0.2rem auto;*/ }
.modal-body-ok{  height:2.82rem; }
.modal-body-ok img{ height:0.6rem; width: 0.66rem;padding-top: 0.9rem; }
.modal-body-ok span{ font-size: 0.15rem; display:block;line-height: 150%;margin: 0 0.45rem; }
.modal-footer{ font-size:0.15rem; font-weight: bold; margin: 0.1rem auto; width:2.3rem; height: 0.5rem; color:#696969; background-color: #292929; line-height: 0.5rem; border-radius: 50px;  }
