<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codeforworld.winterredserver.mapper.CheckPlatMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.codeforworld.winterredserver.entity.CheckPlat">
        <id column="id" property="id" />
        <result column="organization_name" property="organizationName" />
        <result column="belong_area" property="belongArea" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, organization_name, belong_area
    </sql>

    <sql id="base_where">
        <if test="id != null">
            <![CDATA[ AND id = #{id}]]>
        </if>
        <if test="organizationName != null and organizationName != ''">
            <![CDATA[ AND organization_name = #{organizationName}]]>
        </if>
        <if test="belongArea != null and belongArea != ''">
            <![CDATA[ AND belong_area = #{belongArea}]]>
        </if>
    </sql>

    <select id="queryCheckPlat" parameterType="org.codeforworld.winterredserver.entity.CheckPlat"
            resultType="org.codeforworld.winterredserver.entity.CheckPlat">
        select
        <include refid="Base_Column_List"/>
        from check_plat
        <where>
            <include refid="base_where"/>
        </where>
    </select>
</mapper>
