<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codeforworld.winterredserver.mapper.ProfessionalFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.codeforworld.winterredserver.entity.ProfessionalField">
        <id column="id" property="id" />
        <result column="field_name" property="fieldName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, field_name
    </sql>


    <sql id="base_where">
        <if test="id != null">
            <![CDATA[ AND id = #{id}]]>
        </if>
        <if test="fieldName != null and fieldName != ''">
            <![CDATA[ AND field_name = #{fieldName}]]>
        </if>
    </sql>

    <select id="queryProfessionalField" parameterType="org.codeforworld.winterredserver.entity.ProfessionalField"
            resultType="org.codeforworld.winterredserver.entity.ProfessionalField">
        select
        <include refid="Base_Column_List"/>
        from professional_field
        <where>
            <include refid="base_where"/>
        </where>
    </select>

    <select id="getAllFieldName" parameterType="org.codeforworld.winterredserver.entity.ProfessionalField"
            resultType="String">
        select
        field_name
        from professional_field
        <where>
            <include refid="base_where"/>
        </where>
    </select>

</mapper>
