<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codeforworld.winterredserver.mapper.RumorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.codeforworld.winterredserver.entity.RumorInfo">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="abstract_info" property="abstractInfo"/>
        <result column="quoted_content" property="quotedContent"/>
        <result column="check_point" property="checkPoint"/>
        <result column="status" property="status"/>
        <result column="create_on" property="createOn"/>
        <result column="update_on" property="updateOn"/>
        <result column="check_man_id" property="checkManId"/>
        <result column="professional_field_id" property="professionalFieldId"/>
        <result column="ask_user_id" property="askUserId"/>
        <result column="source" property="source"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, abstract_info, quoted_content, check_point, status, create_on, update_on, check_man_id, professional_field_id, ask_user_id, source
    </sql>

    <sql id="base_where">
        <if test="id != null">
            <![CDATA[ AND id = #{id}]]>
        </if>
        <if test="title != null and title != ''">
            <![CDATA[ AND title like "%"#{title}"%"]]>
        </if>
        <if test="abstractInfo != null and abstractInfo != ''">
            <![CDATA[ AND abstract_info = #{abstractInfo}]]>
        </if>
        <if test="askUserId != null">
            <![CDATA[ AND ask_user_id = #{askUserId}]]>
        </if>
        <if test="source != null and source != ''">
            <![CDATA[ AND source = #{source}]]>
        </if>
        <if test="quotedContent != null and quotedContent != ''">
            <![CDATA[ AND quoted_content = #{quotedContent}]]>
        </if>
        <if test="checkPoint != null and checkPoint != ''">
            <![CDATA[ AND check_point = #{checkPoint}]]>
        </if>
        <if test="status != null and status != ''">
            <![CDATA[ AND status = #{status}]]>
        </if>
        <if test="createOn != null">
            <![CDATA[ AND create_on = #{createOn}]]>
        </if>
        <if test="updateOn != null">
            <![CDATA[ AND update_on = #{updateOn}]]>
        </if>
        <if test="checkManId != null">
            <![CDATA[ AND check_man_id = #{checkManId}]]>
        </if>
        <if test="professionalFieldId != null">
            <![CDATA[ AND professional_field_id = #{professionalFieldId}]]>
        </if>
        <if test="keyWord != null and keyWord != ''">
            <![CDATA[ AND (title like "%"#{keyWord}"%" or abstract_info like "%"#{keyWord}"%" or quoted_content like "%"#{keyWord}"%" or check_point like "%"#{keyWord}"%" )]]>
        </if>
    </sql>

    <select id="queryRumorInfo" parameterType="org.codeforworld.winterredserver.entity.RumorInfo"
            resultType="org.codeforworld.winterredserver.entity.RumorInfo">
        select
        <include refid="Base_Column_List"/>
        from rumor_info
        <where>
            <include refid="base_where"/>
            and status !='待核查'
        </where>
        order by update_on desc
        limit 40;
    </select>

    <select id="queryById" parameterType="org.codeforworld.winterredserver.entity.RumorInfo"
            resultType="org.codeforworld.winterredserver.entity.RumorInfo">
        select
        <include refid="Base_Column_List"/>
        from rumor_info
        <where>
            id = #{id}
        </where>
    </select>

    <select id="queryRumorInfoById" parameterType="string"
            resultType="org.codeforworld.winterredserver.entity.RumorInfo">
        select
        <include refid="Base_Column_List"/>
        from rumor_info
        where 1=1
        and status !='待核查'
        and id = #{id}
    </select>

    <select id="queryRolledRumorInfoById" parameterType="Integer"
            resultType="org.codeforworld.winterredserver.entity.RumorInfo">
        select id, title, source
        from rumor_info
        where 1=1
        and id > #{id}
        and source = '区块链'
        order by id
        limit 1
    </select>

</mapper>
