<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codeforworld.winterredserver.mapper.RumorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.codeforworld.winterredserver.entity.RumorInfo">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="abstract_info" property="abstractInfo"/>
        <result column="body" property="body"/>
        <result column="status" property="status"/>
        <result column="create_on" property="createOn"/>
        <result column="update_on" property="updateOn"/>
        <result column="check_man_id" property="checkManId"/>
        <result column="professional_field_id" property="professionalFieldId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, abstract_info, body, status, create_on, update_on, check_man_id, professional_field_id
    </sql>

    <sql id="base_where">
        <if test="id != null">
            <![CDATA[ AND id = #{id}]]>
        </if>
        <if test="title != null and title != ''">
            <![CDATA[ AND title = #{title}]]>
        </if>
        <if test="abstractInfo != null and abstractInfo != ''">
            <![CDATA[ AND abstract_info = #{abstractInfo}]]>
        </if>
        <if test="body != null and body != ''">
            <![CDATA[ AND body = #{body}]]>
        </if>
        <if test="status != null and status != ''">
            <![CDATA[ AND status = #{status}]]>
        </if>
        <if test="createOn != null">
            <![CDATA[ AND create_on = #{createOn}]]>
        </if>
        <if test="updateOn != null">
            <![CDATA[ AND update_on = #{updateOn}]]>
        </if>
        <if test="checkManId != null">
            <![CDATA[ AND check_man_id = #{checkManId}]]>
        </if>
        <if test="professionalFieldId != null">
            <![CDATA[ AND professional_field_id = #{professionalFieldId}]]>
        </if>
    </sql>

    <select id="queryRumorInfo" parameterType="org.codeforworld.winterredserver.entity.RumorInfo"
            resultType="org.codeforworld.winterredserver.entity.RumorInfo">
        select
        <include refid="Base_Column_List"/>
        from rumor_info
        <where>
            <include refid="base_where"/>
        </where>
    </select>

</mapper>
