<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.codeforworld.winterredserver.mapper.RumorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.codeforworld.winterredserver.entity.RumorInfo">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="abstract_info" property="abstractInfo" />
        <result column="body" property="body" />
        <result column="status" property="status" />
        <result column="create_on" property="createOn" />
        <result column="update_on" property="updateOn" />
        <result column="check_man_id" property="checkManId" />
        <result column="professional_field_id" property="professionalFieldId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, abstract_info, body, status, create_on, update_on, check_man_id, professional_field_id
    </sql>

</mapper>
